[
    {inets, [
        {services, [
            {httpd, [
                {modules, [mod_alias, mod_log, mod_esi, mod_get]},
                {server_name, "localhost"},
                {port, 8090},
                {document_root, "www"},
                {server_root, "logs"},
                {error_log, "error.log"},
                {transfer_log, "access.log"},
                {mime_types, [
                    {"html", "text/html"},
                    {"js", "text/javascript"},
                    {"css", "text/css"}
                ]},
                {directory_index, ["index.html"]},
                {erl_script_alias, {"/api", [game_server]}}
            ]}
        ]}
    ]}
].
